@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
}

.dark {
  --background: 15 23 42;
  --foreground: 241 245 249;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

.skeleton {
  @apply animate-pulseSoft bg-slate-200 dark:bg-slate-700 rounded;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
